.add{
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .add button {
    padding: 10px;
    background-color: #5c99ce;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add button:hover {
    background-color: #4a89b5;
  }

  .basic-details, .address,.other-details,.user-contact-details{
    margin: 5px;
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input:hover::placeholder {
    color: #aaa;
    font-style: italic;
  }
  