.navbar{
    width: 100vw;
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.navbar-menu button{
    padding: 15px;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
}
